@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  margin: 0 auto;
  text-align: center;
}

#graph-container {
    background-image:
            linear-gradient(0deg, transparent 90%,
            rgba(0, 0, 0, .03) 90%, rgba(0, 0, 0, .03) 91%, transparent 92%, transparent),
            linear-gradient(90deg, transparent 90%,
            rgba(0, 0, 0, .03) 90%, rgba(0, 0, 0, .03) 91%, transparent 92%, transparent);
    background-size:50px 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
